name: Run scraper hourly

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run scraper
        run: python scraper.py

      - name: Commit & push data.json
        run: |
          git config --global user.name "cozylatte"
          git config --global user.email "aarushic.official@gmail.com"
          git add data/data.json
          git commit -m "update data" || echo "No changes"
          git push https://$PAT@github.com/cozylatte/viman-dashboard.git HEAD:main
        env:
          PAT: ${{ secrets.PAT }}
